@charset "utf-8";

h1 {color:red;}

/* table {
    padding-left: 20px;
} */

nav{
    width: 200px;

    float: left;
    border-right: thick solid #000;

    }

    th, td {
        text-align: center;
      }




 